{% extends 'base.html.twig' %}

{% block title %}update_category
{% endblock %}

{% block body %}
</div>
<div class="row my-4">
	<div class="col-md-8 mx-auto">
		<div class="card">
			<div class="card-header">
				update
			</div>
			<div class="card-body">
				{{form(form)}}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
